*{
    padding: 0%;
    margin: 0%;
    color: aliceblue;

}
#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    width: 60px;
    background-color: #f08804;
}
#logo{
    font-size: 25px;
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
main{
    height: 825px;
}
#content{
    height: 60px;
    width: 60px;
    display: inline;

}

footer{
    height: 60px;   
    background-color: #0f1111;
    color: antiquewhite;
    text-align: center;
}
#image{
    height: 250px;
    width: 250px;
    position: relative;
    top: 50px;
    left: 50px;

}
#box{
    height: 825px;
    width: 250px;
    position: absolute;
    right: 0px;
    top: 60px;
}