*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-width: 100vh;
    background: #0f2027;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-card{
    width: 280px;
    background:#0000008f;
    border-radius: 20px;
    overflow: hidden;
    color: aliceblue;
    box-shadow: 0 1e5px 40px rgba(0,0,0,0.6);
    transition: 0.4s;
    border: 2px solid red;
}
.product-card:hover{
    transform: translateY(-12px);
}

.image-box{
    position: relative;
    overflow: hidden;
    
}
.image-box{
    width: 100%;
    transition: 0.4s;
    
}
.product-card:hover img{
    transform: scale(1.1);
}

.discount{
    position: absolute;
    top: 15px;;
    left: 15px;
    background: #ff3d00;
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 12px;

}
